absl-py
dill
dm-haiku
jax
jaxline @ git+https://github.com/deepmind/jaxline.git
ml_collections
numpy
optax
scipy
tensorflow
tensorflow_datasets
dp_accounting @ git+https://github.com/google/differential-privacy/#egg=dp-accounting&subdirectory=python
