# Requirements for the jax privacy core libary.

# NOTE: Some experiments and examples that utilize this library may require
# additional dependencies, like ML frameworks.


absl-py
dp_accounting
einshape
grain
hypothesis
jax==0.6.2
jaxlib==0.6.2
jaxtyping
pydantic
ml_collections
more_itertools==10.1.0
numpy
optax
scipy
