# Requirements for jax_privacy developmnent.
#
# NOTE: This file includes dependencies needed for development,
# including the experiments/ and examples/ directories.
# Requirements for the core library are more limited (e.g.,
# no tensorflow or tensorflow_datasets).

-r requirements.txt

dinosaur
equinox
orbax
scikit-learn==1.5.0
pytest-xdist
hypothesis
grain
keras
tensorflow
