name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"

    strategy:
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-latest]

    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
            python-version: "${{ matrix.python-version }}"
      - name: Install example requirements
        run: pip install -e ".[test,examples]"
      - name: Run CI tests
        run: pytest -n auto tests/
